
body, h1, h2, h3, p, ul, li, figure, figcaption {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(-45deg, #acaeb1, #bddfec, #454546, #b7a7fc);
  background-size: 400% 400%;
  animation: driftAnimation 10s infinite linear;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.card {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.form-group {
  margin-bottom: 20px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .logo.react:hover {
    animation: logo-spin infinite 20s linear;
  }
}


.logo:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}


.drift-car-tabs-container {
  width: 100%;
}


@keyframes driftAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.tab-content {
  padding-top: 20px; 
}

.nav-tabs .nav-link {
  color: #495057;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  color: #007bff; 
  border-color: #007bff; 
}

.nav-tabs .nav-link:hover {
  color: #0056b3;
  border-color: #0056b3;
}

.car-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.car-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.car-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.car-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}


.car-item-enter {
  opacity: 0;
}

.car-item-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.car-item-exit {
  opacity: 1;
}

.car-item-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

